/*
Color Palette
white
gray
darkgray
teal

*/

/* Global Styles */
html {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	min-width: 100vw;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
    flex-direction: column;
}


.content-wrapper {
	background: rgb(255 255 255 / 0.7);
	margin: 10%;
	padding: 1%;
	border-radius: 5px;
}

 
.content-wrapper h2 {
	text-align: center;
 }


p {
	font-size: 14pt;
}


section {
	margin: 0;
}


/* Header */
 header {
	 background-color: darkgray;
	 box-sizing: border-box;
	 color: white;
	 width: 100%;
	 margin: 0;
	 padding: 2%;
	 display: flex;
	 justify-content: space-between;
 }
 
 .head {
	 text-align: left;
 }
 
 .btn {
	color: white;
	background-color: gray;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
}

.btn:hover {
	color: teal;
	background-color: darkgray;
	border: 1px solid gray;
	border-radius: 5px;
}



/* Footer */
footer {
	margin-top: auto;
	width: 100%;
	background-color:gray;
}

.social {
	justify-content: center;
	display: flex;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.social li {
	margin: 1vw;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.social a, a:visited {
	color: white;
	text-decoration: none; 
}

.social a:hover {
	color: teal;
	text-decoration: underline;
}



/* About Page */
.home {
	background: url(../images/wood.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	margin: 0;
}




/* Resume Page */
.resume {
	background-color: teal;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

 section {
	 margin: 1% 0;
	 height: 33%;
	 width: 100%;
	 
 }
 
table {
	margin: 0;
	width: 100%;
}

table th {
	text-align: left;
}

table td {
	width: 30%;
}

#project_btn {
	color: white;
	background-color: gray;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
}

#project_btn:hover {
	color: teal;
	background-color: darkgray;
	border-radius: 5px;
	text-decoration: none;
}



